<div class="table-responsive-md">
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: center;">Prénom</th> 
                <th scope="col" style="text-align: center;">Nom</th>                 
                <th scope="col" style="text-align: center;">Entreprise</th> 
                <th scope="col" style="text-align: center; font-size: 13px;">Bureau d'étude</th>                 
                <th scope="col" style="text-align: center;">Téléphone</th>   
                <th scope="col" style="text-align: center;">Gsm</th>  
                <th scope="col" style="text-align: center;">Email</th>   
            </tr>
        </thead>
        <tbody>                       
            {% for personcontact in personcontacts %}             
                {% if not personcontact.company %}
                <tr class="choice table-info " onclick="document.location.href='{{path("personcontact_edit",{id:personcontact.id})}}';">
                {% else %}
                <tr class="choice table-primary " onclick="document.location.href='{{path("personcontact_edit",{id:personcontact.id})}}';">
                {% endif %}
                    <td style="text-align: left;">{{personcontact.firstname}}</td>
                    <td style="text-align: left;">{{personcontact.lastname}}</td>                    
                    <td style="text-align: left; font-size: 13px;">{{personcontact.company.name | default('')}}</td>
                    <td style="text-align: left; font-size: 13px;">{{personcontact.engineeringoffice.name | default('')}}</td>
                    <td style="text-align: left; font-size: 13px;">{{personcontact.phone}}</td>
                    <td style="text-align: left; font-size: 13px;">{{personcontact.gsm}}</td>
                    <td style="text-align: left;">{{personcontact.email}}</td>
                </tr>
            {% endfor %}
        </tbody>          
    </table>
</div>
