{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    {% for message in app.flashes('message') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}              
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}              
        </div>
    {% endfor %}
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="{{asset('./public/image/chulogo.png')}}" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{{asset('./public/image/picture_login.png')}}" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        
                        <select class="form-select" name="select1" id="select1" onchange="change(this)">
                            <option value="fr" selected="selected">Français</option>
                            <option value="en">English</option>
                        </select>
                        <span><img src="{{asset('image/fr.png')}}" id="show" alt="" /></span>
                    </div>
                    <div class="row px-3 mb-4">
                        <h4 class="mb-1">CONNECTEZ-VOUS À VOTRE COMPTE</h4>
                    </div>
                    <form action="{{path('security_login')}}" method="post" autocomplete="off">
                        <div class="row px-3"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Adresse Email</h6>
                            </label>
                            <input class="mb-4" type="email" value="{{username}}" required name="_username" placeholder="Email valide">
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Mot de passe</h6>
                            </label>
                            <input type="password" required name="_password" placeholder="Mot de passe">
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <a href="{{path('init_password')}}" class="ml-auto mb-0 text-sm">Mot de passe oublié ?</a>
                            </div> 
                        </div>
                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-blue text-center" ><strong>CONNEXION</strong></button>
                        </div><!--TODO - SI CHAMP NON VALIDE EN FRONT = GRISE -->
                    </form>
                    
                    
                    <!--<div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div>-->
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <small class="ml-4 ml-sm-5 mb-2">Un problème avec votre compte ? <a href="#" class="link-dark">contactez notre support</a></small>
        </div>
    </div>
</div>
<script>
    setTimeout(function() {
        const tab = document.getElementsByClassName('alert')    
        if (tab.length) tab[0].remove()
    },3000)    
</script>
{% endblock %}
