<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">CHU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">                                  
            <li class="nav-item">
                <a class="nav-link" href="{{path('project_list')}}">Projets</a>
            </li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_INTERNAL') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('request')}}">Requêtes</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="{{path('stat')}}">Statistiques</a>
                </li>    
            {% endif %}            
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="navbar-nav ml-auto" style="padding-right: 20px !important;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="{{path('user_list')}}">Utilisateurs</a></li>
                  <li><hr></li>
                  <li><a class="dropdown-item" href="{{path('site_list')}}">Sites</a></li>                                    
                  <li><a class="dropdown-item" href="{{path('activity_list')}}">Activités des entreprises</a></li>
                  <li><a class="dropdown-item" href="{{path('company_list')}}">Entreprises</a></li>                  
                  <li><a class="dropdown-item" href="{{path('engineeringofficesort_list')}}">Types de bureaux d'étude</a></li>                  
                  <li><a class="dropdown-item" href="{{path('engineeringoffice_list')}}">Bureaux d'étude</a></li>
                  <li><a class="dropdown-item" href="{{path('personcontact_list')}}">Personnes externes</a></li>
                  <li><a class="dropdown-item" href="{{path('work_list')}}">Travaux</a></li>                  
                  <li><a class="dropdown-item" href="{{path('department_list')}}">Département</a></li>
                  <li><a class="dropdown-item" href="{{path('role_list')}}">Fonctions</a></li>
                  <li><a class="dropdown-item" href="{{path('employee_list')}}">Employés</a></li>
                  <li><a class="dropdown-item" href="{{path('location_list')}}">Localités</a></li>
                </ul>
            </li> 
        </ul>
        {% endif %}
        {% if app.user %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{path('security_logout')}}">{{app.user.username}}&nbsp;<i class="bi bi-door-closed"></i></a>
            </li>  
        </ul>        
        {% endif %}
    </div>
</nav> 