{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col">
        {{ form_start(form, {'attr' : {'autocomplete' : 'off'}}) }}
            <h1 class="text-center">Utilisateur</h1>
            <div class="mb-3">
                {{ form_label(form.username, 'Nom de l\'utilisateur', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.username) %}            
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.username) }}
                    </div>            
                {% endif %}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}    
            </div>            
            <div class="mb-3">
                {{ form_label(form.email, 'Email de l\'utilisateur', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.email) %}           
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.email) }}
                    </div>
                {% endif %}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>   
            <div class="mb-3">
                {{ form_label(form.language, 'Langue de l\'utilisateur', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.language) %}
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.language) }}
                    </div>
                {% endif %}
                {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}       
            </div>                    
            <div class="mb-3">
                {{ form_label(form.password, 'Mot de passe', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.password) %}
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.password) }}
                    </div>            
                {% endif %}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>            
            <div class="mb-3">
                {{ form_label(form.password_confirm, 'Confirmation du mot de passe', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.password_confirm) %}
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.password_confirm) }}
                    </div>
                {% endif %}
                {{ form_widget(form.password_confirm, {'attr': {'class': 'form-control'}}) }}       
            </div> 
            <div class="mb-3">
                {{ form_label(form.roles, 'Profil utilisateur', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.roles) %}
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.roles) }}
                    </div>
                {% endif %}
                {{ form_widget(form.roles, {'attr': {'class': 'form-control select2'}}) }}       
            </div>                              
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Ok</button>
                {% if form.vars.value.id %}           
                    <a href="#" class="btn btn-danger ml-3" onClick="deleteUser()">Supprimer</a>                   
                {% endif %}
                <a href="{{path('user_list')}}" class="btn btn-secondary ml-3">Retour</a>                
            </div>            
        {{ form_end(form) }}
    </div>    
</div>
<script>
    document.getElementById("user_username").focus()    

    function deleteUser() {
        if (confirm('Confirmer la suppression ?')) {                    
            $.ajax({
                url: '{{path("user_delete",{id:id})}}',
                type: 'DELETE',
                dataType: 'text',
                success: function (result) {                    
                    document.location.href = '{{path("user_list")}}?message=Utilisateur supprimé'
                },
                error: function(jqXHR, textStatus, errorThrown ) {
                    console.log(jqXHR, textStatus, errorThrown)
                    alert('Erreur lors de la suppression')                    
                }
            })            
        }        
    }

    $('.select2').select2()
</script>
{% endblock %}
