{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col">
        {{ form_start(form, {'attr' : {'autocomplete' : 'off'}}) }}
            <h1 class="text-center">Travail</h1>
            <div class="mb-3">
                {{ form_label(form.name, 'Nom du travail', {'label_attr': { class: 'form-label' }}) }}
                {% if form_errors(form.name) %}            
                    <div class="form-error text-danger">
                        <span class="span_error bg-danger text-white">ERREUR</span>&nbsp;{{ form_errors(form.name) }}
                    </div>            
                {% endif %}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}    
            </div>    

            <div class="my-2">
                <button type="submit" class="btn btn-primary">Ok</button>     
                {% if form.vars.value.id %}           
                    <a href="#" class="btn btn-danger ml-3" onClick="deleteWork()">Supprimer</a>
                {% endif %}
                <a href="{{path('work_list')}}" class="btn btn-secondary ml-3">Retour</a>
            </div>            
        {{ form_end(form) }}
    </div>    
</div>
<script>
    document.getElementById("work_name").focus()    

    function deleteWork() {
        if (confirm('Confirmer la suppression ?')) {                    
            $.ajax({
                url: '{{path("work_delete",{id:id})}}',
                type: 'DELETE',
                dataType: 'text',
                success: function (result) {                    
                    document.location.href = '{{path("work_list")}}?message=Travail supprimé'
                },
                error: function(jqXHR, textStatus, errorThrown ) {
                    console.log(jqXHR, textStatus, errorThrown)
                    alert('Erreur lors de la suppression')                    
                }
            })            
        }        
    }
</script>
{% endblock %}
